$primary-color: #444;
$secondary-color: rgb(236, 236, 122);

@mixin background{
         &#bg-img{
             background: darken($primary-color, 8); 
             background-attachment: fixed; 
             background-size: cover;
        } 
}

@mixin mediaSm{
    @media screen and (max-width: 359px){
        @content;
    }
}
@mixin mediaMd{
    @media screen and (min-width: 360px) and (max-width: 767px){
        @content;
    }
}
@mixin mediaMdLandscape{
    @media screen and (min-width: 360px) and (max-width: 767px) and 
     (orientation: landscape){
        @content;
    }
}
@mixin mediaLg{
    @media screen and (min-width: 767px) and (max-width: 1023px){
        @content;
    }
}
/*@mixin mediaLgLandscape{
    @media screen and (min-width: 767px) and (max-width: 1023px) and 
     (orientation: landscape){
        @content;
    }
}*/
@mixin mediaXl{
    @media screen and (min-width: 1024px) and (max-width: 1420px){
        @content;
    }
}