/*@include mediaXl{
    .menu-btn{
        .fas{
            font-size: 38px;
          }
    }
    .about-info{
        grid-template-areas:
        'bioimage bio'
        'trainee1 trainee2';
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .bullet li{
        margin-left: 1rem;
    }
    .salesforce{
        //font-size: 1.45rem;
    }
    .projects{
        grid-template-columns: repeat(3, 1fr);
        .item{
            margin:  auto;
            max-width: 85%;
            height: 25.5rem;
           // font-size: 1.2rem; 
           // background-color: yellow;
            .text-secondary{
                //font-size: 1.7rem; 
            }
            img{
                width: 100%;
               // height: 100%; 
            }
            .btn{
                width: 100%;
            }
        }
    }
    .boxes{
        //background-color: red;
        div{
            width: 100%;
        }
     }
     #main-footer{
        //font-size: 1.6rem;
     }
}*/
@include mediaLg{
  
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'trainee1'
        'trainee2';
        grid-template-columns: 1fr ;
        
        .bio{
            text-align: left;
            font-weight: 300;
            letter-spacing: 0.5px;
            .text-secondary{ margin-left: 1rem;}
             
        }
        .trainning{
           font-weight: 300;
           letter-spacing: 0.5px;
        }
    }
    .bullet li{
        margin-left: 1rem;
    }
    .salesforce{
        font-weight: 300;
        letter-spacing: 0.5px;      
    }
     
    .projects{
        grid-template-columns: repeat(2, 1fr);
        width: 35em;
        margin: 15px auto 0 auto;
        //background-color: red;
        height: 100%;
        .item{
            margin:  auto;
            height: 22rem;
            //background-color: yellow;
            .text-secondary{
                font-weight: 300;
                letter-spacing: 0.5px;
            }
            //background-color: yellow;
            
            img{
                width: 100%;
                height: 66%;
            }
            .btn{
                width: 100%;
                font-weight: 300;
                letter-spacing: 0.5px;
            }
        }
    }
    .boxes{
        width: 55%;
       
        div{
            width: 100%;
        }
     }
   
}
@include  mediaLgLandscape{
    .about-info{
        grid-template-areas:
        'bioimage bio'
        'trainee1 trainee2';
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@include mediaMd{
    .menu-btn{
        right: 12px;
        .fas{
            font-size: 28px;
          }
    }
    main{
        align-items: center;
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
        .sm-heading{
            font-size: 1.2rem;
        }
        &#home{
            height: 100%;
        } 
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0; 
        text-align: center;
    }
    ul.menu-nav{
        height: 77vh;
    }
    div.menu-branding{
        height: 23vh;
        .portrait{
            width: 140px;
            height: 140px;
            background-size: 100%;
        }
    }
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'trainee1'
        'trainee2';

        grid-template-columns: 1fr ;
        
        .bio{
            font-weight: 300;
            letter-spacing: .3px;
        }
        .trainning{
            font-weight: 300;
            letter-spacing: 0.3px;
        }
    }
    .salesforce{
        font-weight: 300;
        letter-spacing: 0.3px;
    }
    .projects{
        grid-template-columns:  1fr;
        grid-gap: 40px;
        width: 13em;
        margin: 15px auto 0 auto;
        //background-color: yellow;
        .text-secondary{ text-align: center; }
        .item{
           //background-color: red;
           margin: auto;
           height: 19rem;
            .text-secondary{
                font-weight: 300;
                letter-spacing: 0.3px;
            }
            
            img{

                width: 100%;
                height: 60%;  
            }
            .btn{
               width: 100%;
               font-weight: 300;
               letter-spacing: 0.3px;
            }
        }
    }
    .boxes{
        width: 100%;
     
            div{
                width: 100%;
                margin-left: 0;
                padding: 0.5rem;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: 0.3px;

                &:hover{
                    left: 0;
                    top: 9px;
                }
            }  
        }
    
} 
@include  mediaMdLandscape{
    .boxes{
        div{
            font-size: 1.2em;
        }
    }
}
@include mediaSm{
    .menu-btn{
        .fas{
            font-size: 24px;
          }
    }
    main{
        margin-left: -1.5rem;
        &#home{
            .lg-heading{ font-size: 3.5em; }
         }
        .lg-heading{ font-size: 2rem;}
        .sm-heading{ font-size: 0.8rem; }
        .text-secondary{ text-align: center; }
    }
    .about-info{
        display: grid;
        grid-template-areas:
        'bioimage' 
        'bio'
        'trainee1' 
        'trainee2';
        grid-template-columns: 1fr;
        .bio{
            font-weight: 300;
            letter-spacing: 0.3px;
        }
        .trainning{
            font-weight: 300;
            letter-spacing: 0.3px
        }
    }
    .salesforce{
        font-weight: 300;
        letter-spacing: 0.3px;
        }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0; 
        text-align: center;
    }
        div.menu-branding{
            height: 22vh;
            .portrait{
                width: 120px;
                height: 120px;
            }
        }
        ul.menu-nav{
            height: 78vh;
        }
        .projects{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        width: 10em;
        .item{
            height: 16rem;
            //background-color: yellow;
            .text-secondary{
                font-weight: 300;
                letter-spacing: 0.3px;
            }
            img{
                width: 100%;
                height: 60%;
            }
            .btn{
                padding: 0.1rem;
                width: 100%;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: 0.3px;
            }
        } 
    }
    #home{
    height: 100vh;
   }

   .boxes{
    width: 100%;
    //background-color: red;
    div{
        width: 100%;
    //  background-color: yellow;
        margin-bottom: 0.8rem;
        font-size: 0.7em;
        font-weight: 300;
        letter-spacing: 0.3px;
        .text-secondary{ text-shadow: none; }
        &:hover{
            left: 0;
            top: 9px;
        }
    }
   }
   #main-footer{
       font-size: 0.8em;
   }
}
