@include mediaXl{
    .projects{
        grid-template-columns: repeat(3, 1fr);
        .item{
            //background-color: red;
            height: 15rem;
        }
    }
    .boxes{
        div{
            width: 60%;
        }
     }
}
@include mediaLg{
    .projects{
        grid-template-columns: repeat(2, 1fr);
        .item{
            margin: auto;
            width: 70%;
            height: 27rem;
            img{
                width: 100%;
                height: 70%;
            }
            .btn{
                width: 100%;
            }
        }
       
    }
    .boxes{
        width: 55%;
        div{
            width: 100%;
        }
     }
}
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
        &#home{
            height: 100%;
        }
        
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0; 
        text-align: center;
    }
    ul.menu-nav{
        height: 80vh;
    }
    div.menu-branding{
        height: 20vh;
        .portrait{
            width: 140px;
            height: 140px;
            background-size: 100%;
        }
    }
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'trainee1'
        'trainee2';

        grid-template-columns: 1fr ;
        .bio{
            text-align: left;
        }
    }
    .salesforce{
        text-align: left;
        .text-secondary{
            text-align: left;
        }
        
    }
    .projects{
        grid-template-columns:  1fr;
        .item{
            //background-color: red;
            height: 15rem;
            img{
                width: 60%;
                height: 50%;
            }
            .btn{
               margin: 0 auto;
               width: 60%;
            }
        }
    }
    .boxes{
        width: 100%;
        div{
            width: 100%;
            margin-left: 0;
            padding: 0.5rem;
            font-size: 1rem;
            &:hover{
                left: 0;
                top: 9px;
            }
        }  
     }
} 
@include  mediaMdLandscape{
    .projects{
        .item{
            img{
                width: 42%;
               // height: 50%;
            }
            .btn{
                width: 42%;
            }
        }
    }
}
@include mediaSm{
    main#home h1{
        margin-top: 10vh;   
    }
   
    .sm-heading{
        font-size: 0.8rem;
    }
    .text-secondary{
        text-align: center;
    }
    .about-info{
        display: grid;
        grid-template-areas:
        'bioimage' 
        'bio'
        'trainee1' 
        'trainee2';
        grid-template-columns: 1fr;
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0; 
        text-align: center;
    }
    div.menu-branding{
        height: 30vh;
    }
    ul.menu-nav{
        height: 70vh;
    }
    .projects{
        grid-template-columns: 1fr;
      
        .item{
           // background-color: rgb(231, 31, 31);
            height: 15rem;
            padding: 0;
            .text-secondary{
                font-size:  1rem;
            }
            img{
                //border: 2px solid white;
                width: 100%;
                height: 50%;
            }
            .btn{
               // margin: 0 auto;
                width: 100%;
            }
        }
       
    }
    #home{
    height: 100vh;
   }
   .boxes{
    min-width: 100%;
    div{
        width: 100%;
        font-size: 0.6rem;
        margin-bottom: 0.8rem;
        text-align: center;
        &:hover{
            left: 0;
            top: 9px;
        }
    }
  }
 
}